{% extends "layout.html"%}
 {% block content %}
 <div class="background">
  <h1 style=" color: #fff;">🎀 🍪𝓃𝑒 𝓂𝒾𝓃𝓊𝓉𝑒 𝓅𝒾𝓉𝒸𝒽 🎀</h1>
  <hr>
  <p style="font-size: 20px; color: #fff;">Its a web application that allows users post their own pitches and creative ideas that make them standout from the rest🤗. It's a web application that allows users to post their pitches,update their posts and even delete. The users are able to view updated posts from their fellow colleagues.
  </p>
  <p style="font-size: 20px; color: #fff;">
  The First impression which makes this website stand out from the rest is this the motto: 𝔅𝔢𝔦𝔫𝔤 ℭ𝔯𝔢𝔞𝔱𝔦𝔳𝔢 𝔪𝔞𝔨𝔢 𝔦𝔱 𝔬𝔯 𝔟𝔯𝔢𝔞𝔨,  𝔶𝔬𝔲𝔯 𝔭𝔬𝔰𝔱𝔰 𝔠𝔞𝔫 𝔰𝔢𝔩𝔩 𝔦𝔡𝔢𝔞𝔰 </p>
 </div>
  {% endblock content%}
 
 
  